.pokeball {
  display: block;
  width: 100px;
  height: 100px;
  background: radial-gradient(
    white 6px,
    black 7px 8px,
    white 9px 14px,
    black 15px 18px,
    transparent 22px
    ),
    linear-gradient(to bottom, red 0 50px, black 50px 55px, white 50px 100%);
  border-radius: 50%;
  border: 5px solid black;
  box-shadow: inset -16px -8px 0 0 rgba(0, 0, 0, 0.2);
}

.flip-container {
  --border-radius: 10px;
  --border-radius-lg: 5px;
  
  perspective: 1000px;
  height: 150px;
  
  .flip-button {
    transform-style: preserve-3d;
    transition: transform 0.5s;
    position: relative;
    height: 100%;
    background: #ffcb05;
    border-radius: var(--border-radius);
    border-width: 5px;

    @media screen and (min-width: 768px) {
      border-radius: var(--border-radius-lg);
    }

    &.matched {
      border-color: green;
    }
    
    &.invalid {
      border-color: red;
    }

    .front, .back {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      backface-visibility: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: var(--border-radius);

      @media screen and (min-width: 768px) {
        border-radius: var(--border-radius-lg);
      }
    }

    .front {
    }

    .back {
      transform: rotateY(180deg);
    }

    &.flipped {
      transform: rotateY(180deg);
    }
  }

}


