.menu {
  .menu__item {
    display: block;
  }
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  .card-grid__item button {
    width: 100%;
  }
  
  .card-grid__item img {
    max-width: 100%;
    height: 100px;
  }
}
